@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  /* Global Brand Colors */
  --color-brand-red: #9c0615;
  --color-brand-red-dark: #7c0510;
  --color-brand-red-light: #bc0a1c;
  --color-brand-dark: #1c1c1e;
  --color-brand-dark-hover: #111215;
}

@utility custom-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1;
  }
}

@utility custom-sort-scrollbar {
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #94a3b8;
    border-radius: 9999px;
    border: 1.5px solid transparent;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #64748b;
  }
}
